doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Productos
    body
        h1 Productos
        ul
            if products.length
                each product in products
                    li=product.name
                    li=product.price
                    li 
                        img(src=product.thumbnail alt='' width='130px')
            else
                li No hay datos